<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>
      <!-- furnitures section start -->
   <div>
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furniture Categories</h1>
                  <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
               </div>
            </div>
            <div class="col-sm-12 mt-3 text-center">
               <button class="btn btn-md btn-warning text-white" data-toggle="modal" data-target="#addCategory"><i class="fa fa-plus"></i><span>Add New Category</span></button>
            </div>

                        <!-- Add Modal Start -->
                        <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                           <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h4 class="modal-title"><b>Add New Category</b></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                 </div>
                                    <div class="modal-body customer-box">
                                       <!-- Tab panes -->
                                          <div class="tab-content">
                                             <div class="tab-pane active" id="Login">
                                                <form method="POST" action="/categories" class="form-horizontal">
                                                   <div class="form-group mb-3">
                                                      <div class="col-sm-12">
                                                         <label class="col-form-label">Category Name:</label>
                                                         <input type="text" name="name" class="form-control" placeholder="Category Name">
                                                      </div>
                                                   </div>
                                                   <div class="row">
                                                      <div class="col-sm-10 mt-2">
                                                         <button type="submit" class="btn btn-warning btn-radius btn-brd grd1">
                                                            Save
                                                         </button>
                                                         <button type="button" class="btn btn-secondary btn-radius btn-brd grd1"
                                                            data-dismiss="modal" aria-hidden="true">
                                                            Cancel
                                                         </button>
                                                      </div>
                                             </div>
                                          </form>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Add Modal End -->
            

            <div class="furnitures_section_2 col-lg-12">
               <div class="row">
                  <% for(let i = 0; i < categories.length; i++) { %>
                  <div class="col-md-3">
                     <div class="hover01 column">
                        <figure><img src="images/img-1.png"></figure>
                     </div>
                     <h3 class="introduction_text"><%= categories[i].name %></h3>
                  </div>
                  <% } %>
            </div> 
            <div class="row seemore_bt">
               <div class="row text-center">
                  <% if(pages > 0) { %>
                  <ul class="nav tm-paging-links text-center">
                      <% for(let i = 1; i <= pages; i++ ){ %>
                          <% if(i == current) {  %>
                              <li class="nav-item active"><a href="/categories?page=<%= i %>" class="nav-link tm-paging-link text-white bg-warning"><%= i %></a></li>
                          <% } else if(i < pages) { %>
                              <li class="nav-item"><a href="/categories?page=<%= i %>" class="nav-link tm-paging-link tex-white bg-warning"><%= i %></a></li>
                          <% } else { %>
                              <li class="nav-item"><a href="/categories?page=<%= i %>" class="nav-link tm-paging-link tex-white bg-warning">></a></li>
                              <% } %>
                   <% } %>
                  </ul>
      
                  <% } %>
      
            </div> 

         </div>

         </div>


   
      </div>
     

   </div>
      <!-- furnitures section end -->

      <%- include('partials/_footer') -%>

   </body>
</html>